main {
  margin: 2vh auto;
  max-width: 80vh;
}

section.products-filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3vh;
}

section.products-box {
  display: flex;
  flex-wrap: wrap;
}

figure.product-box-item {
  margin-bottom: 5vh;
  width: calc(50% - 1vw);
  text-align: center;
}

figure.product-box-item {
  margin: 0;
}

figure.product-box-item figcaption {
  margin-top: 4vh;
}

figure.product-box-item img {
  height: auto;
  max-width: 100%;
} 

@media screen and (min-width: 800px) {
  figure.product-box-item {
    width: calc(40% - 6vh);
  }
}