body {
  margin: 2vh auto;
  max-width: 80vh;
}

main {
  display: flex;
  flex-wrap: wrap;
}

section {
  margin-bottom: 5vh;
  width: calc(50% - 1vw);
  text-align: center;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 4vh;
}

img {
  height: auto;
  max-width: 100%;
} 

@media screen and (min-width: 800px) {
  section {
    width: calc(40% - 6vh);
  }
}